 <header class="header-wrap">
  <div class="emblem">
    <div class="phone-numbers">
      <a href="tel:+74957732310">+7(495)-773-23-10; </a>
      <a href="tel:+74951716202">+7(495)-171-62-02</a>
    </div>
    <div class="gluts">
      <a href=""><img [src]="emblem" alt="emblem"></a> 
    </div>
  </div>
  <div class="search">
    <input type="text" (input) = "searchDataBy(findDataBy.value)" placeholder="Более 1000 товаров" #findDataBy>
    <div class="search-result">
      <ul>
        <li *ngFor ="let product of products | searchLive: [searchLiveData, sort]">
          <div class="image"><img [src]="product.image" [alt]="product.image"></div>
          <div>{{product.name}}</div>
          <div>{{product.item}}</div>
          <div>{{product.price}}</div>
          <div>{{product.brand}}</div>
        </li>
      </ul>
    </div>
    <div class="choose-category" (click) = "openCategory()">
      <span *ngIf = "!pickedCategory">Выберите категорию</span>
      <span *ngIf = "pickedCategory">{{pickedCategory}}</span>
    </div>
    <div class="search-by">
      <ul *ngIf = "opened">
        <li>Искать по:</li>
        <li *ngFor = 'let sort of objectKeys' (click) = "getFieldToSortBy(sort, $event)">{{sort}}</li>
      </ul>
    </div>
    <input type="submit" value="">
  </div>
  <ng-content select="app-cart"></ng-content>
</header>

