<div class="cart" (click) = "switchCart()">
    <div class="cart-icon">
        <img [src]="cartIcon" alt="cart">
    </div>
    <div class="cart-text">КОРЗИНА<span> ({{goodNumber}})</span></div>
</div>
<div class="cart-list" *ngIf = "cartSwitcher">
    <div class="product-to-buy" *ngFor = "let cart of carts; let i = index">
        <div class="product-img"><img [src]="cart.image" [alt]="cart.image"></div>
        <div class="product-info">
            <div>{{cart.name}}</div>
            <div><button (click) = "productAmount(cart, {op: 'minus'})">-</button>{{cart.amount}}<button (click) = "productAmount(cart, {op: 'plus'})">+</button></div>
            <div>Цена: {{cart.price}}</div>
        </div>
        <div class="cart-button">
            <button (click) = "removeFromCart(cart.id)"><img src="../../assets/images/delete.png"></button>
        </div>
    </div>
    <div class="price" *ngIf = "carts.length">Price:{{sum}}</div>
    <div class="is-empty" *ngIf = "false">КОРЗИНА ПУСТАЯ</div>
</div>