body
    width: 100%
    padding: 0
    margin: 0
.main-wrapper
    width: 1200px
    display: flex
    flex-direction: column
    align-items: center
    margin: 0 auto
    .main-header, .main-section, .main-footer
        width: 100%

