.products-wrap
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    .products
        width: 287px
        height: 250px
        background: gray
        margin: 50px 110px 25px 0