<div class="products-wrap">
    <div class="products" *ngFor="let product of products | async">
        <img [src]="product.image" [alt]="product.image">
        <p> {{product.name}}</p>
        <div>Артикул: {{product.item}}</div>
        <div>Бренд: {{product.brand}}</div>
        <div>Цена: {{product.price}}</div>
        <button id="button-order" (click)="throwIntoCart(product)">В корзину</button>
    </div>
</div>
<mat-form-field>
    List length:
    <input matInput [(ngModel)]="length">
</mat-form-field>

<mat-form-field>
    Page size:
    <input matInput [(ngModel)]="pageSize">
</mat-form-field>
<mat-form-field>
    Page size options:
    <input matInput [ngModel]="pageSizeOptions" (ngModelChange)="setPageSizeOptions($event)">
</mat-form-field>

<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
</mat-paginator>

<div *ngIf="pageEvent">
    <h5>Page Change Event Properties</h5>
    <div>List length: {{pageEvent.length}}</div>
    <div>Page size: {{pageEvent.pageSize}}</div>
    <div>Page index: {{pageEvent.pageIndex}}</div>
</div>